<div th:fragment="home-nav" xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/home}">E-Learning</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav text-light my-2 my-lg-0 ml-auto">
                <li th:if="${#authentication.principal}" class="nav-item">
                    <div class="profile-container">
                        <div class="profile-pic-container">
                            <img class="rounded-circle profile-pic"
                                 style="width: 40px; height: 40px; object-fit: cover;"
                                 th:src="${#authentication.principal.user.profilePicture != null ? '/images/profiles/' + user.profilePicture : '/images/profiles/default-profile.jpg'}"
                                 alt="Profile Picture"/>
                            <span class="profile-name" th:text="${#authentication.principal.user.fullName}"></span>
                            <div class="custom-dropdown-menu">
                                <a class="dropdown-item" th:href="@{/profile}">My Profile</a>
                                <a class="dropdown-item" href="#">Settings</a>
                                <a class="dropdown-item" th:href="@{/logout}">Log Out</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>