body {
    font-family: 'Arial', sans-serif;
    background-color: #e8f5e9;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
    max-width: 750px;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.login-header {
    font-size: 20px;
    color: #388e3c;
    margin-bottom: 6px;
}

.login-subheader {
    color: #66bb6a;
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    color: #2e7d32;
}

.form-control {
    border: 2px solid #a5d6a7;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}

.form-control:focus {
    outline: none;
    border-color: #66bb6a;
    box-shadow: 0 0 5px rgba(102, 187, 106, 0.5);
}

.alert {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 15px;
}

.alert-warning {
    background-color: #fff3cd;
    border-left: 5px solid #ffc107;
}

.alert-info {
    background-color: #d1ecf1;
    border-left: 5px solid #17a2b8;
}

.alert-success {
    background-color: #6fa574;
    border-left: 5px solid #246b3a;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.system-logo {
    max-width: 450px;
    height: auto;
    margin-bottom: 20px;
}

.button-33 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-33:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}