<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:text="${course.getName()}"></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/card-courses.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/profile-pic.css}">
    <link rel="stylesheet" th:href="@{/css/card.css}">
    <link rel="stylesheet" th:href="@{/css/tickets.css}">
    <link rel="stylesheet" th:href="@{/css/assignments.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/home-nav :: home-nav}"/>

<div class="background-div">
    <input type="hidden" id="course-id" th:value="${course.id}">
    <div class="course-header">
        <div class="course-info">
            <div class="course-title-container">
                <h2 class="course-title" id="course-title-label">
                    <span id="course-name-display" th:text="${course.name}">Course Name</span>
                    <input type="text" id="course-name-input" class="form-control d-none">
                    <button th:if="${isCreator || (loggedUser != null && loggedUser.isAdmin())}" type="button" id="edit-course-name-btn" class="btn btn-link btn-sm text-secondary ml-2" title="Edit Course Name" onclick="toggleEdit('course-name')">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                    <div id="course-name-buttons" class="d-none">
                        <button type="button" class="btn btn-success btn-sm" onclick="saveChanges('course-name')">Save</button>
                        <button type="button" class="btn btn-danger btn-sm" onclick="cancelEdit('course-name')">Cancel</button>
                    </div>
                </h2>
            </div>

            <div class="course-description-container">
                <p class="course-description" id="course-description-label">
                    <span id="course-description-display" th:text="${course.description}">Course Description></span>
                    <input type="text" id="course-description-input" class="form-control d-none">
                    <button th:if="${isCreator || (loggedUser != null && loggedUser.isAdmin())}" type="button" id="edit-course-description-btn" class="btn btn-link btn-sm text-secondary ml-2" title="Edit Course Description" onclick="toggleEdit('course-description')">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                <div id="course-description-buttons" class="d-none">
                    <button type="button" class="btn btn-success btn-sm" onclick="saveChanges('course-description')">Save</button>
                    <button type="button" class="btn btn-danger btn-sm" onclick="cancelEdit('course-description')">Cancel</button>
                </div>
                </p>
            </div>

            <p class="course-meta">
                <span class="created-by"
                      th:text="'Created by: ' + ${course.createdBy.getFullName()}">Created by</span>
                <span class="created-on"
                      th:text="'Created on: ' + ${#dates.format(course.createdOn, 'MM-dd-yyyy HH:mm:ss')}">Created on</span>
            </p>
            <div class="course-categories mb-4">
                <strong>Categories:</strong>
                <span th:each="category : ${course.categories}" th:text="${category}">Category</span>
                <button th:if="${isCreator || (loggedUser != null && loggedUser.isAdmin())}" type="button" id="add-category-btn" class="btn btn-link btn-sm text-secondary ml-2" title="Add category" onclick="toggleAddCategory('add-category')">
                    <i class="fas fa-plus"></i>
                </button>
                <input type="text" id="add-category-input" class="form-control d-none">
                <div id="add-category-buttons" class="d-none">
                    <button type="button" class="btn btn-success btn-sm" onclick="saveChanges('add-category')">Save</button>
                    <button type="button" class="btn btn-danger btn-sm" onclick="closeAddCategory('add-category')">Cancel</button>
                </div>
            </div>
            <a th:if="${isCreator || (loggedUser != null && loggedUser.isAdmin())}" th:href="@{/courses/{courseId}/progress(courseId=${course.id})}"
               class="custom-button dashboard-button" style="margin-top: 15px; display: block;">
                📚 Dashboard
            </a>
            <div th:if="${isCourseCompleted}" class="course-completion mt-5">
                <p>You have completed this course successfully!</p>
                <a th:href="'/users/' + ${user.id} + '/certificates'" class="btn">Go to Certificates</a>
            </div>
        </div>
        <div class="course-image">
            <img th:src="${course.getImageBase64()}" alt="Course Image" loading="lazy" class="course-image">
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="start-course-section mb-4" th:if="${loggedUser != null && loggedUser.hasRole('ROLE_STUDENT')}">
        <form id="startCourseForm" th:action="@{/courses/{id}/start(id=${course.id})}" method="post">
            <button id="startCourseButton" type="submit" class="button-33">Start Course</button>
        </form>
    </div>

    <!-- Lessons Section -->
    <div class="lessons-section mt-5 mb-5 disabled" id="lessonsSection">
        <div class="section-title">
            <h3 class="title">Lessons</h3>
            <a th:if="${loggedUser != null && loggedUser.hasRole('ROLE_INSTRUCTOR')}"
               th:href="@{/courses/{id}/lessons/create(id=${course.id})}" class="add-button"
               id="addLessonButton">Add Lesson</a>
        </div>
        <ul class="list-group">
            <li th:each="lesson, index : ${course.lessons}" style="list-style-type: none; cursor: pointer;">
                <form th:action="@{/courses/{courseId}/lessons/{lessonId}(courseId=${course.id}, lessonId=${lesson.id})}"
                      method="GET"
                      th:onclick="this.closest('form').submit()"
                      class="custom-list-group-item lesson-item justify-content-between align-items-center pt-3">
                    <input type="hidden" name="lessonIndex" th:value="${index.index + 1}"/>
                    <p th:text="${index.index + 1} + '. ' + ${lesson.title}" class="lesson-title ml-3"></p>
                    <div style="display: flex; align-items: center; margin-bottom: 0.5rem;"
                         th:if="${loggedUser != null && !loggedUser.hasRole('ROLE_INSTRUCTOR')}">
                        <!-- PNG Icon -->
                        <img th:src="@{/images/icons/completed.png}" alt="Completed Icon"
                             style="width: 20px; height: 20px; margin-right: 8px;"
                             th:if="${#lists.contains(user.completedLessons, lesson)}"/>
                        <!-- Completed or Not Completed Message -->
                        <p th:id="'lesson-' + ${lesson.id}"
                           th:text="${#lists.contains(user.completedLessons, lesson)} ? 'Completed' : 'Not Completed'"
                           style="margin: 0;">
                        </p>
                    </div>
                </form>
            </li>
        </ul>
    </div>

    <!-- Assignments Section -->
    <div class="lessons-section mt-5 mb-5 disabled" id="assignmentsSection">
        <div class="section-title">
            <h3 class="title">Assignments</h3>
            <a th:if="${loggedUser != null && loggedUser.hasRole('ROLE_INSTRUCTOR')}" th:href="@{/assignments/new}" class="add-button">Add
                Assignment</a>
        </div>
        <ul class="list-group" style="list-style: none; padding: 0; margin: 0;">
            <li th:each="assignment : ${assignments}" style="margin-bottom: 15px;">
                <div class="assignment-item"
                     style="border: 1px solid #ccc; padding: 15px; border-radius: 5px; display: flex; justify-content: space-between; align-items: center; width: 100%;">
                    <div>
                        <a th:href="@{/assignments/{id}(id=${assignment.id})}"
                           style="font-weight: bold; text-decoration: none; color: black;">
                            <strong th:text="${assignment.title}" style="font-weight: bold;">Assignment Title</strong>
                        </a>
                        <p class="assignment-due-date" style="margin: 10px 0; color: #555;">
                            Due Date: <span
                                th:text="${#temporals.format(assignment.dueDate, 'EEEE, dd MMM yyyy - HH:mm')}">Due Date</span>
                        </p>
                    </div>
                    <div class="assignment-actions" style="text-align: right;">
                        <button th:if="${userSolutionStatus[assignment.id]}"
                                class="btn btn-success"
                                disabled
                                style="cursor: not-allowed;"
                                title="Solution added">
                            Solution Added
                        </button>
                        <button th:if="!${userSolutionStatus[assignment.id]}"
                                class="btn btn-success"
                                data-bs-toggle="modal"
                                data-bs-target="#uploadModal"
                                th:attr="data-assignment-id=${assignment.id}"
                                onclick="setAssignmentId(this)">
                            Add Solution
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!-- Upload Solution Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel">Upload Solution</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form th:action="@{/assignments/upload}" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input type="hidden" id="assignmentId" name="assignmentId">
                        <div class="mb-3">
                            <label for="solutionFile" class="form-label">Choose file:</label>
                            <input type="file" id="solutionFile" name="solutionFile" class="form-control" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Upload</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function setAssignmentId(button) {
            const assignmentId = button.getAttribute('data-assignment-id');
            document.getElementById('assignmentId').value = assignmentId;
        }
    </script>

    <!-- Include Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Tickets-->
    <div class="tickets-section disabled" id="ticketsSection" th:if="${loggedUser != null && (loggedUser.hasRole('ROLE_INSTRUCTOR') || loggedUser.isAdmin())}">
        <div class="section-title mb-3">
            <h3 class="title">Tickets</h3>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Issuer</th>
                <th>Created on</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ticket : ${course.tickets}">
                <td th:text="${ticket.issuer.getFullName()}"></td>
                <td th:text="${ticket.createdOn}"></td>
                <td th:text="${ticket.content}"></td>
                <td>
                    <form th:action="@{/tickets/resolve(courseId=${course.id}, ticketId=${ticket.id})}" method="POST"
                          style="display: inline;">
                        <button type="submit" class="btn btn-success btn-sm" th:disabled="${ticket.resolved}">
                            <span th:text="${ticket.resolved ? 'Resolved' : 'Resolve'}"></span>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Open Ticket Button for Students -->
    <div class="open-ticket disabled" id="openTicketButton" th:if="${loggedUser != null && loggedUser.hasRole('ROLE_STUDENT')}">
        <a th:href="@{/tickets/open(courseId=${course.id})}" class="btn open-ticket-button">Open a Ticket</a>
    </div>

    <!-- Quiz Section -->
    <div class="alert alert-success" th:if="${successMessage}" th:text="${successMessage}"></div>
    <div class="alert alert-danger" th:if="${errorMessage}" th:text="${errorMessage}"></div>
    <div class="quiz-section disabled" id="quizSection">
        <div class="section-title mb-3">
            <h3 class="title">Final Quiz</h3>
            <a th:href="@{/quizzes/quiz(courseId=${course.id})}"
               class="btn add-button" th:if="${loggedUser != null && loggedUser.hasRole('ROLE_STUDENT') && allLessonsCompleted}">
                Start Quiz
            </a>
            <a th:href="@{/quizzes/create-quiz(courseId=${course.id})}" id="createQuiz" th:if="${loggedUser != null && (loggedUser.hasRole('ROLE_INSTRUCTOR') || loggedUser.isAdmin())}"
               class="add-button disabled" style="color: white;">Create Quiz</a>
        </div>
        <p th:if="${loggedUser != null && loggedUser.hasRole('ROLE_STUDENT') && !allLessonsCompleted}" class="quiz-instructions">
            Complete all lessons to unlock the quiz.</p>
        <a th:href="@{/questions/question-create(courseId=${course.id})}" id="addQuestion"
           class="btn add-button disabled" th:if="${loggedUser != null && loggedUser.hasRole('ROLE_INSTRUCTOR') || (loggedUser != null && loggedUser.isAdmin())}">
            Add Question
        </a>
        <a th:href="@{/questions(courseId=${course.id})}" id="deleteQuestion"
           class="btn add-button disabled" th:if="${loggedUser != null && loggedUser.hasRole('ROLE_INSTRUCTOR') || (loggedUser != null && loggedUser.isAdmin())}">
            Delete Question
        </a>
    </div>

    <div class="analytics-section mt-5" th:if="${loggedUser != null && loggedUser.hasRole('ROLE_INSTRUCTOR') || (loggedUser != null && loggedUser.isAdmin())}">
        <div class="section-title">
            <h3 class="title">Course Analytics</h3>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Analytics Overview</h5>
                <p class="card-text"><strong>Total Participants:</strong> <span
                        th:text="${analytics.totalParticipants}">0</span></p>
                <p class="card-text"><strong>Average Percentage:</strong> <span
                        th:text="${analytics.averagePercentage}">0</span>%</p>
                <p class="card-text"><strong>Fastest Completion Time:</strong>
                    <span th:text="${#numbers.formatDecimal(analytics.fastestTime / 60, 0, '0')} + 'm ' + ${analytics.fastestTime % 60} + 's'">
                    0m 0s
                </span>
                </p>
                <p class="card-text"><strong>Average Completion Time:</strong>
                    <span th:text="${#numbers.formatDecimal(analytics.averageTime / 60, 0, '0')} + 'm ' + ${analytics.averageTime % 60} + 's'">
                    0m 0s
                </span>
                </p>
            </div>
        </div>
    </div>

    <!-- Leaderboard Section -->
    <div class="leaderboard-section mt-5" th:if="${loggedUser != null && loggedUser.hasRole('ROLE_INSTRUCTOR') || (loggedUser != null && loggedUser.isAdmin())}">
        <div class="section-title">
            <h3 class="title">Leaderboard</h3>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Percentage</th>
                <th>Time Taken</th>
            </tr>
            </thead>
            <tbody>
            <!-- Iterate over highscores -->
            <tr th:each="score, iterStat : ${highscores}">
                <td th:text="${iterStat.count}"></td> <!-- Display rank -->
                <td th:text="${score.username}"></td> <!-- Display username -->
                <td th:text="${score.percentage + '%' }"></td> <!-- Display percentage -->
                <td th:text="${#numbers.formatDecimal(score.elapsedTime / 60, 0, '0')} + 'm ' + ${score.elapsedTime % 60} + 's'"></td>
                <!-- Display elapsed time -->
            </tr>
            </tbody>
        </table>
    </div>


</div>

<div th:replace="~{fragments/footer :: footer}"/>

<script th:inline="javascript">
    /*<![CDATA[*/
    const isAdmin = /*[[${loggedUser != null && loggedUser.isAdmin()}]]*/ false;
    /*]]>*/
</script>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const startCourseButton = document.getElementById("startCourseButton");
        const startCourseForm = document.getElementById("startCourseForm");

        const isCourseStarted = /*[[${isCourseStarted}]]*/ false;
        const isCourseCompleted = /*[[${isCourseCompleted}]]*/ false;
        const isCreator = /*[[${isCreator}]]*/ false;

        const lessonsSection = document.getElementById("lessonsSection");
        const assignmentsSection = document.getElementById("assignmentsSection");
        const quizSection = document.getElementById("quizSection");
        const ticketsSection = document.getElementById("ticketsSection");
        const openTicketButton = document.getElementById("openTicketButton");
        const createQuiz = document.getElementById("createQuiz");
        const addQuestion = document.getElementById("addQuestion");
        const deleteQuestion = document.getElementById("deleteQuestion");

        if (isCreator) {
            lessonsSection.classList.remove("disabled");
            assignmentsSection.classList.remove("disabled");
            quizSection.classList.remove("disabled");
            ticketsSection.classList.remove("disabled");
            createQuiz.classList.remove("disabled");
            addQuestion.classList.remove("disabled");
            deleteQuestion.classList.remove("disabled");
        } else {
            if (isAdmin) {
                lessonsSection.classList.remove("disabled");
                assignmentsSection.classList.remove("disabled");
                quizSection.classList.remove("disabled");
                ticketsSection.classList.remove("disabled");
                createQuiz.classList.remove("disabled");
                addQuestion.classList.remove("disabled");
                deleteQuestion.classList.remove("disabled");
            }
            else if (isCourseCompleted) {
                startCourseButton.classList.add("disabled");
                startCourseForm.classList.add("disabled");
            } else if (isCourseStarted) {
                startCourseButton.classList.add("disabled");
                startCourseForm.classList.add("disabled");

                lessonsSection.classList.remove("disabled");
                assignmentsSection.classList.remove("disabled");
                quizSection.classList.remove("disabled");
                openTicketButton.classList.remove("disabled");
            } else if (!isCourseStarted) {
                startCourseButton.classList.remove("disabled");
                startCourseForm.classList.remove("disabled");
            }
        }
    });

    function toggleAddCategory(field) {
        document.getElementById(`${field}-input`).classList.remove('d-none');
        document.getElementById(`${field}-buttons`).classList.remove('d-none');
        document.getElementById(`${field}-btn`).classList.add('d-none');
    }

    function closeAddCategory(field) {
        document.getElementById(`${field}-input`).classList.add('d-none');
        document.getElementById(`${field}-buttons`).classList.add('d-none');
        document.getElementById(`${field}-btn`).classList.remove('d-none');
    }

    function toggleEdit(field) {
        // Toggle visibility of display, input, and buttons
        document.getElementById(`${field}-display`).classList.add('d-none');
        document.getElementById(`${field}-input`).classList.remove('d-none');
        document.getElementById(`${field}-buttons`).classList.remove('d-none');
        document.getElementById(`edit-${field}-btn`).classList.add('d-none');
    }

    function cancelEdit(field) {
        // Hide input and buttons, show display
        document.getElementById(`${field}-display`).classList.remove('d-none');
        document.getElementById(`${field}-input`).classList.add('d-none');
        document.getElementById(`${field}-buttons`).classList.add('d-none');
        document.getElementById(`edit-${field}-btn`).classList.remove('d-none');
    }

    function saveChanges(field) {
        const inputValue = document.getElementById(`${field}-input`).value;

        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        const courseId = document.getElementById('course-id').value;

        // Simulate sending a request to the server
        fetch(`/courses/update-${field}`, {
            method: 'POST',
            headers: {
                [csrfHeader]: csrfToken,
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({[field]: inputValue, id: courseId}),
        })
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error('Failed to save changes');
                }
            })
            .then(message => {
                const displayField = document.getElementById(`${field}-display`);
                if (displayField == null) {
                    closeAddCategory("add-category")
                    location.reload();
                } else {
                    displayField.textContent = field === 'username' ? `@${inputValue}` : inputValue;
                    cancelEdit(field);
                }
            })
            .catch(error => alert(error.message));
    }
</script>
</body>
</html>