<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Events Page')}">
  <link rel="stylesheet" th:href="@{/css/event.css}" />
  <title>Events</title>
</head>
<body>
<div th:replace="~{fragments/home-nav :: home-nav}"></div>
<div th:replace="~{fragments/announcements :: announcement-banner}"/>
<div class="custom-page-container">
  <h1 class="custom-page-header">Events</h1>
  <ul class="custom-event-list">
    <li class="custom-event-list-item" th:each="event : ${events}">
      <div class="left">
        <a class="custom-event-title" th:href="@{/events/{id}(id=${event.id})}" th:text="${event.title}">
          Event Title
        </a>
        <p class="custom-event-description" th:text="${event.description}">Description</p>
      </div>
      <div class="event-right">
        <span th:text="${#temporals.format(event.startTime, 'EEEE, dd MMM yyyy - HH:mm')}"  style="text-align: right;">Start Date</span>
      </div>
    </li>
  </ul>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
<script src="/js/announcements.js" defer></script>
</body>
</html>
