<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Home Page')}">
<body>
<div th:replace="~{fragments/home-nav :: home-nav}"/>
<h1 class="container text-center mb-5 mt-5">Browse Courses</h1>
<div class="container">
    <div class="card text-center">
        <div class="card-header">
            <!-- Using Bootstrap Navs with "nav-pills" for clickable tabs -->
            <ul class="nav nav-pills justify-content-center" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-bs-toggle="pill" href="#home" role="tab" aria-controls="home" aria-selected="true">Category 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="link-tab" data-bs-toggle="pill" href="#link" role="tab" aria-controls="link" aria-selected="false">Category 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="disabled-tab" data-bs-toggle="pill" href="#disabled" role="tab" aria-controls="disabled" aria-selected="false">Category 3</a>
                </li>
            </ul>
        </div>

        <div class="card-body">
            <!-- Tab content: corresponding content will appear here based on the active tab -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="card-deck" style="justify-content: center; gap: 2rem;">
                        <div class="card" style="max-width: 15rem;">
                            <img class="card-img-top" src="/images/profiles/default-profile.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card" style="max-width: 15rem;">
                            <img class="card-img-top" src="/images/profiles/default-profile.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card" style="max-width: 15rem;">
                            <img class="card-img-top" src="/images/profiles/default-profile.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg btn-outline-success mt-5 mb-3">Show all Category 1 courses</button>
                </div>
                <div class="tab-pane fade" id="link" role="tabpanel" aria-labelledby="link-tab">
                    <div class="card-deck" style="justify-content: center; gap: 2rem;">
                        <div class="card" style="max-width: 15rem;">
                            <img class="card-img-top" src="/images/profiles/default-profile.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Some card from category 2 here</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg btn-outline-success mt-5 mb-3">Show all Category 2 courses</button>
                </div>
                <div class="tab-pane fade" id="disabled" role="tabpanel" aria-labelledby="disabled-tab">
                    <div class="card-deck" style="justify-content: center; gap: 2rem;">
                        <div class="card" style="max-width: 15rem;">
                            <img class="card-img-top" src="/images/profiles/default-profile.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Some card from category 3 here</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                        <div class="card" style="max-width: 15rem;">
                            <img class="card-img-top" src="/images/profiles/default-profile.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Another card from category 3 here</h5>
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg btn-outline-success mt-5 mb-3">Show all Category 3 courses</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Events -->
    <div class="upcoming-div">
        <h2 class="upcoming-event" style="color: #e6f4e6;">Upcoming Events</h2>
    </div>
    <div class="card-deck" style="justify-content: center; gap: 2rem; padding-top: 10px;">
        <br>
        <div th:if="${upcomingEvents.isEmpty()}" class="text-center">
            <p>No upcoming events found.</p>
        </div>
        <div class="card" style="max-width: 15rem;" th:each="event : ${upcomingEvents}">
            <div class="card-body">
                <a th:href="@{/events/{id}(id=${event.id})}" class="card-title-link">
                    <h5 class="card-title" th:text="${event.title}">Event Title</h5>
                </a>
                <img th:src="${event.getImageBase64()}" alt="Event Image" class="event-image" />

                <span th:text="${#temporals.format(event.startTime, 'EEEE, dd MMM yyyy - HH:mm')}">Start Date</span>
            </div>
        </div>
    </div>
    <div class="text-center mt-4">
        <a href="/events" class="btn btn-primary btn-lg btn-outline-success">Show More Events</a>
    </div>
</div>
<div th:replace="~{fragments/footer :: footer}"/>
</body>
</html>