<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Add News')}"></head>
<body>
<div th:replace="~{fragments/home-nav :: home-nav}"></div>

<div class="news-container" style="background-color: #f9f9f9; margin: 50px auto; border-radius: 8px; max-width: 800px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); padding: 30px;">
    <h1 style="text-align: center;">Add News</h1>
    <form th:action="@{/news/add}" method="post">
        <div class="news-group" style="margin-bottom: 20px;">
            <label for="title" style="font-size: 1.1rem; font-weight: 600; color: #555;display: block;margin-bottom: 5px;">
                Title
            </label>
            <input type="text" id="title" name="title" placeholder="Enter news title" required style="padding: 10px; width: 100%;">
        </div>

        <div class="news-group" style="margin-bottom: 20px;">
            <label for="title" style="font-size: 1.1rem; font-weight: 600; color: #555;display: block;margin-bottom: 5px;">Content</label>
            <textarea id="content" name="content" placeholder="Enter full news content" required style="padding: 10px; width: 100%;"></textarea>
        </div>

        <button type="submit" class="addNewsButton">Submit News</button>
        <a href="/news" class="news-back-button">Back to News List</a>
    </form>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
