<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Register')}">
<body>
<div th:if="${error}" class="container mt-5">
    <div class="text-center alert alert-danger" th:text="${error}"></div>
</div>
<div class="container mt-3">
    <h1 class="text-center">Register</h1>
    <form class="container main-form mx-auto d-flex flex-column justify-content-center align-items-center"
          th:action="@{/register}" th:object="${user}" method="post">
        <div class="form-group col-md-8">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}"
                   th:errorclass="field-error">
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
               class="errors alert alert-danger">
            </p>
        </div>
        <div class="form-group col-md-8">
            <label for="password">Password</label>
            <input type="text" class="form-control" id="password" placeholder="Password" th:field="*{password}"
                   th:errorclass="field-error">
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
               class="errors alert alert-danger">
            </p>
        </div>
        <div class="form-group col-md-8">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name" th:field="*{firstName}"
                   th:errorclass="field-error">
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
               class="errors alert alert-danger">
            </p>
        </div>
        <div class="form-group col-md-8">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" th:field="*{lastName}"
                   th:errorclass="field-error">
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
               class="errors alert alert-danger">
            </p>
        </div>
        <div class="form-group col-md-8">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email" th:field="*{email}"
                   th:errorclass="field-error">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
               class="errors alert alert-danger">
            </p>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
</body>
</html>
